extends layout

block content
    .input-group.input-group-lg
      span.input-group-addon Search
      input.form-control(type="text", placeholder="Search for an asset...")
    span.help-block.
      For an efficient search focus on using verbs, nouns and keywords (e.g. "migrate database python") 
